<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608667054703-m7vv5dpev9kv288ac8rpbpmas9iqk8as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608667054703-m7vv5dpev9kv288ac8rpbpmas9iqk8as</string>
	<key>API_KEY</key>
	<string>AIzaSyBQfsEX0fOv6Ttp6-wA-aaqMFM4wWGPX98</string>
	<key>GCM_SENDER_ID</key>
	<string>608667054703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneMikolaj</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-mikolaj</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-mikolaj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608667054703:ios:908da8b2c28dc13fc9139a</string>
</dict>
</plist>